<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__top">
      <div class="footer__left">
        <a href="#/" class="footer__logo">
          <img src="images/footer-logo.svg" alt="" class="footer__logo-img">
        </a>
        <div class="footer__data">
          <div class="footer__data-item-wrapper">
            <p class="footer__data-item">ИНН 330640485495</p>
            <p class="footer__data-item">ОГРНИП 315332600000462</p>
          </div>
          <div class="footer__data-item-wrapper">
            <p class="footer__data-item">"Официальный Дистрибьютор на территории РФ"</p>
            <a class="footer__data-item-link" href="mailto:info@teletrend.ru">clients@teletrend.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__contacts">
          <div class="footer__phone-wrapper">
            <a class="footer__phone" href="tel:88000000000">8 (800) 000-00-00</a>
            <span class="footer__schedule">Ежедневно с 9:00 до 20:00</span>
          </div>
          <div class="footer__callback callback">
            <span class="footer__callback-bg callback__bg"></span>
            <span class="footer__callback-text callback__text">Обратный звонок</span>
          </div>
        </div>
        <div class="footer__links">
          <div class="footer__links-group">
            <a href="#/" class="footer__link">Для дома</a>
            <a href="#/" class="footer__link">Авто</a>
          </div>
          <div class="footer__links-group">
            <a href="#/" class="footer__link">Детские товары</a>
            <a href="#/" class="footer__link">Одежда и аксессуары</a>
          </div>
          <div class="footer__links-group">
            <a href="#/" class="footer__link">Красота и здоровье</a>
            <a href="#/" class="footer__link">Электроника и гаджеты</a>
          </div>
          <div class="footer__links-group">
            <a href="#/" class="footer__link">Спорт</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <a href="#/" class="footer__bottom-left">Политика конфиденциальности</a>
      <div class="footer__bottom-right">Copyright 2021 Все права защищены</div>
    </div>
  </div>
</footer>
