<header class="header">
  <div class="header__wrapper container">
    <div class="header__logo">
      <img src="images/logo.svg" alt="">
    </div>
    <div class="header__contacts">
      <div class="header__callback callback">
        <span class="header__callback-bg callback__bg"></span>
        <span class="header__callback-text callback__text">Обратный звонок</span>
      </div>
      <div class="header__phone-wrapper">
        <a class="header__phone" href="tel:88000000000">8 (800) 000-00-00</a>
        <span class="header__schedule">Ежедневно с 9:00 до 20:00</span>
      </div>
      <nav class="menu">
        <button class="menu__btn" type="button"><span></span></button>

        <ul class="menu__list">
          <li class="menu__subbox">
            <div class="menu__item">
              <a class="menu__link" href="#">Каталог товаров</a>
            </div>
            <ul class="menu__submenu">
              <li class="menu__item">
                <a class="menu__link menu__sublink" href="#">Товары для авто</a>
              </li>
              <li class="menu__item">
                <a class="menu__link menu__sublink" href="#">Товары для животных</a>
              </li>
              <li class="menu__item">
                <a class="menu__link menu__sublink" href="#">Товары для детей</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Гарантия</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О компании</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>