//fonts
$openSans: 'Open Sans', Helvetica, sans-serif;
$roboto: 'Roboto', Helvetica, sans-serif;
$museoSans: 'MuseoSans', Helvetica, sans-serif;
$HelveticaNeue: 'HelveticaNeue', Helvetica, sans-serif;
$gotham: 'gotham', Helvetica, sans-serif;

//color
$green: #5FAB00;
$grey: #BDBDBD;
$red: #EC0322;
