$mainImg: '../images/main/main-img.jpg';
$mainLabel: '../images/main/main-label.png';
$mainLabel480: '../images/main/main-label-480.png';
$mainLabel320: '../images/main/main-label-320.png';
$labelCheck: '../images/label-check.svg';
$pointing: '../images/pointing.svg';
$discount: '../images/discount.svg';
$dreamBg: '../images/dream/dream-bg.jpg';
$dreamBg1000: '../images/dream/dream-bg-1000.jpg';
$recommendBg: '../images/recommend/recommend-bg.jpg';


$videoBg: '../images/video/video-bg.jpg';
$featureBg: '../images/feature/feature-bg.jpg';
$deliveryImg-1: '../images/delivery/image-1.png';
$deliveryImg-2: '../images/delivery/image-2.png';
$deliveryImg-3: '../images/delivery/image-3.png';
$deliveryImg-4: '../images/delivery/image-4.png';
$deliveryImg-bg-4: '../images/delivery/bg-last-item.jpg';
$reviewBg: '../images/review/review-bg.jpg';
$bestPriceBg: '../images/best-price/best-price-bg.jpg';
$bestPriceDiscont: '../images/best-price/best-price-discont.svg';
$bestPricePersonIcon: '../images/best-price/input-person.svg';
$bestPricePhoneIcon: '../images/best-price/input-phone.svg';
$footerArrow: '../images/footer-arrow.svg';

$colon: '../images/best-price/colon.svg';

